/* Navbar */
.nav-container {
  background-color: rgb(0, 128, 171);
  width: 300px;
  height: 100vh;
}

.nav-container ul {
  width: 300px;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  margin-top: 80px;
}

.nav-container li {
  margin-top: 20px;
}

/* Remove link decoration */
.li-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.li-link-active {
    text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}